@import "./vars.scss", "./mixins.scss";

* {
  @include ui-reset;
  html,
  body {
    background-color: $bg-primary-color;
  }
}

main {
  width: 100%;
  min-height: 100vh;
  @include mobile;
}

.container {
  width: 100%;
}
