@import "./vars.scss", "./mixins.scss";

* {
  @include ui-reset;
  html,
  body {
    background-color: $bg-primary-color;
  }
}

main {
  width: 100%;
  @include max-width;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @include mobile {
    gap: 10px;
  }
  @include tablet-sm {
    gap: 35px;
  }
}

.container {
  width: 100%;
  @include center {
    flex-direction: column;
  }
}
