////////////////////////
/// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
$font-primary: "Roboto", sans-serif;

////////////////////////
/// Colors
$bg-primary-color: #000;
$bg-secondary-color: #2f2f2f;
$font-primary-color: #fff;

////////////////////////
///Breakpoints
$screen-xm: 0px;
$screen-sm: 576px;
$screen-lg: 996px;
