@import "../../styles/mixins.scss", "../../styles/vars.scss";

.movie-result-container {
  @include center;
  flex-wrap: wrap;
  gap: 10px;
  @include tablet-sm {
    padding: 0;
    gap: 20px;
  }
}
